* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.loginList {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #ebebeb;
}

.loginList ul {
  position: absolute;
  top: 5px;
  right: 0;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.loginList ul li::after {
  content: '';
  margin: 10px;
  border: 1px solid #6e6e6e;
}

.loginList ul li:last-child::after {
  content: '';
  border: none;
}

.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav img {
  width: 50px;
  height: 20px;
}

.gnbList {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gnbItem {
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms;
}

.gnbItem:hover {
  color: #ccc;
  transform: translateY(3%);
}

.gnbItem::after {
  content:"";
  display: none;
  width: 0;
}

.gnbItem:hover::after {
  content:"";
  display: block;
  width: 100%;
  border: 1px solid #000;
  transition: all 300ms ease-in-out; 
}

.iconList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ebebeb;
  transition: all 300ms;
}

.searchBox:hover {
  background-color: #ccc;
}

.icSearch {
  margin: 5px;
}

.searchBox input {
  background-color: transparent;
  outline: transparent;
  border: none;
}

.icon {
  margin: 10px;
  transform: translateY(-20%);
  cursor: pointer;
  transition: all 300ms;
}

.icon:first-child:hover {
  color: red;
}

.icon:last-child:hover {
  color: chocolate;
}
