* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ProductCardBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 500px;
  border: 1px solid #ebebeb;
  overflow: hidden;
  margin: 20px;
}

.ProductCardBox img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  cursor: pointer;
}

.PCBItem1 {
  color: rgb(197, 128, 0);
}